{% extends 'layout.html' %}


{% block contenido %}
<h1>{{ titulo }}</h1>   
<form>
     <div class="form-row">
       <div class="form-group col-md-6">
         <label for="descripcion">Nombre del cliente</label>
         <input type="text" class="form-control" id="descripcion" placeholder="(Nombre completo del cliente)">
      </div>

      <div class="form-group col-md-6">
        <label for="descripcion">Fecha de nacimiento</label>
         <input type="text" class="form-control" id="descripcion" placeholder="(DD/MM/AAAA)">

      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="tipo_identificacion">Tipo de identificación</label>
          <select id="tipo_identificacion" class="form-control">
            <option selected>Por favor seleccione...</option>
            <option value="1">Cedula de ciudadania</option>
            <option value="2">Tarjeta de identidad</option>
            <option value="3">Pasaporte</option>
          </select>
        </div>
      <div class="form-group col-md-6">
        <label for="descripcion">N° Identificación</label>
         <input type="text" class="form-control" id="descripcion" placeholder="(Solo numeros)">
      </div>
      <div class="form-group col-md-6">
        <label for="descripcion">Correo electronico</label>
        <input type="text" class="form-control" id="descripcion">
      </div>
    </div>

   
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>  
{% endblock contenido %}
    
