{% extends 'layout.html' %}


{% block contenido %}
<h1>{{ titulo }}</h1>   
<form>
     <div class="form-row">
       <div class="form-group col-md-6">
         <label for="descripcion">Nombre del usuario</label>
         <input type="text" class="form-control" id="descripcion" placeholder="(Nombre completo del usuario)">
      </div>

      <div class="form-group col-md-6">
        <label for="descripcion">ID usuario</label>
         <input type="text" class="form-control" id="descripcion" placeholder="(ID)">

      </div>

      <div class="form-group col-md-6">
        <label for="descripcion">N° Identificación</label>
         <input type="text" class="form-control" id="descripcion" placeholder="(Solo numeros)">
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="Rol_perfil">Rol o perfil</label>
          <select id="Rol_perfil" class="form-control">
            <option selected>Por favor seleccione...</option>
            <option value="1">Administrador</option>
            <option value="2">Facturador</option>
            <option value="3">Supervisor</option>
          </select>
        </div>
      
      <div class="form-group col-md-6">
        <label for="descripcion">Correo electronico</label>
        <input type="text" class="form-control" id="descripcion">
      </div>
    </div>

   
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>  
{% endblock contenido %}
  
