{% extends 'layout.html' %}


{% block contenido %}
<h1>{{ titulo }}</h1>   
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del Usuario</th>
        <th scope="col">ID de usuario	</th>
        <th scope="col">N° identificación</th>
        <th scope="col">Rol o perfil</th>
        <th scope="col">Correo electronico</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Andrea Paola Gómez Ríos</td>
        <td>usr001</td>
        <td>1032547896</td>
        <td>Administrador</td>
        <td>andrea.gomez@sistemafactura.com</td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Carlos Andrés Méndez Vargas</td>
        <td>usr002</td>
        <td>1008432671</td>
        <td>Facturador</td>
        <td>carlos.mendez@sistemafactura.com</td>                     
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr> 
      <th scope="row">3</th>
      <td>Juliana Fernanda Díaz Restrepo</td>
      <td>usr003</td>
      <td>1098765432</td>
      <td>Supervisor</td>
      <td>juliana.diaz@sistemafactura.com</td>
      <td>
        <button type="button" class="btn btn-success">Editar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </td>
    </tr>
    <tr>

    </tbody>
  </table>

{% endblock contenido %}
    