{% extends 'layout.html' %}


{% block contenido %}
<h1>{{ titulo }}</h1>   
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del cliente</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Tipo de identificación</th>
        <th scope="col">N° Identificación</th>
        <th scope="col">Correo electronico</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mariana López Torres</td>
        <td>12 de marzo de 1990</td>
        <td>Cédula de ciudadanía</td>
        <td>1013457892</td>
        <td>mariana.lopez90@gmail.com</td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Juan Sebastián Martínez Ruiz</td>
        <td>8 de julio de 1985</td>
        <td>Cédula de ciudadanía</td>
        <td>79452316</td>
        <td>juanse.martinez85@hotmail.com</td>                     
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr> 
      <th scope="row">3</th>
      <td>Laura Valentina Ramírez Castro</td>
      <td>21 de noviembre de 2008</td>
      <td>Tarjeta de identidad</td>
      <td>1090334512</td>
      <td>laurita.ramirez98@gmail.com</td>
      <td>
        <button type="button" class="btn btn-success">Editar</button>
        <button type="button" class="btn btn-danger">Borrar</button>
      </td>
    </tr>
    <tr>

    </tbody>
  </table>
{% endblock contenido %}
   
      

